<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GreyWall Tag</title>
</head>
<body>

<h1>这是标题 1</h1>
<h2>这是标题 2</h2>
<h3>这是标题 3</h3>
<h4>这是标题 4</h4>
<h5>这是标题 5</h5>
<h6>这是标题 6</h6>

<a href="123.57.242.97" target="_blank">GreyWall homepage</a>
<img src="favicon.ico" width="104" height="142">
<br />
<br />
<br />

<hr />
<p style="color:blue;margin-left:20px;">This is a paragraph.</p>

<body style="background-color:grey;">
<h2 style="background-color:red;">这是一个标题</h2>
<p style="background-color:green;">这是一个段落。</p>
</body>

<hr />
<article>
<h1>笔记</h1>
<p> HTML - HyperText Markup Language - 超文本标记语言</p>
</article>
 
</body>
</html>